/* В этом файле будут храниться все значения переменных в исходном состоянии, а так же их изменения в зависимости от ширины устройства */
:root {
  --main-font: 'Inter-Variable';
  --accent-font: 'PressStart2P';

  --text-color: #000;
  --text-button-color: #fff;

  --text-stroke: 1px #fff;

  --text-size: 18px;

  --article-title-weight: 715;
  --article-title-size: 18px;
  --article-content-weight: 410;
  --article-content-size: 18px;

  --header-padding: clamp(7.625rem, 7.449rem + 0.751vw, 8.125rem);

  --background-gradient: repeating-linear-gradient(to right, #d3d3d3, #d3d3d3 2px, transparent 2px, transparent 4px), 
  repeating-linear-gradient(to bottom, #d3d3d3, #d3d3d3 2px, transparent 2px, transparent 4px), 
  linear-gradient(to bottom, #e7e7e7 0% 0.01%, #1a1a1a 100%);
  --article-background: #fff;

  --title-font-size: clamp(3.063rem, 2.71rem + 1.502vw, 4.063rem);
  --subtitle-font-size: clamp(0.938rem, 0.761rem + 0.751vw, 1.438rem);
  --content-width: clamp(23.438rem, 16.285rem + 30.516vw, 43.75rem);
  
  --border: 2px solid #000;

  --heart-contour: #000;
  --heart-inner: transparent;
  --heart-fill: transparent;
  --heart-dots: #FF0000;

  --heart-contour-transition: 0.1s;
  --heart-inner-transition: 0.3s;
  --heart-fill-transition: 0.3s;

  --heart-contour-delay: 0s;
  --heart-inner-delay: 0.03s;
  --heart-fill-delay: 0s;
}